@model ConfigVM

<div class="text-center">
    <h1 class="display-4">@Model.SiteName</h1>
    <h1 class="display-4">@Model.MaxItemCount</h1>
    <h1 class="display-4">@Model.IsBasketEnabled</h1>

    <div id="messageAlert">
        <h2>Added new configuration!</h2> <h2 id="alertMessage"></h2>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#messageAlert').hide();

        setInterval(function () {
            $.ajax({
                url: '@Url.Action("GetLatestMessage", "Home")',
                type: 'GET',
                success: function (response) {
                    if (response.message) {
                        $('#alertMessage').text(response.message);
                        $('#messageAlert').show();
                        $('#messageAlert').fadeIn().delay(10000).fadeOut();
                    }
                },
                error: function () {
                }
            });
        }, 20000);
    });
</script> 